#index {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    background-image: url(images/bagels.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-button {
    background: none;
    border: none;
    max-height: 60px;
    max-width: 60px;
    position: fixed;
    top: 0;
    right: 0 ;
    z-index: 99;
    color: rgb(255, 255, 255);
}

#nav-bar {
    position: absolute;
    height: 100%;
    width: 40vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, calc(0% + 5vh) 95%, 0% 90%, calc(0% + 5vh) 85%, 0% 80%, calc(0% + 5vh) 75%, 0% 70%, calc(0% + 5vh) 65%, 0% 60%, calc(0% + 5vh) 55%, 0% 50%, calc(0% + 5vh) 45%, 0% 40%, calc(0% + 5vh) 35%, 0% 30%, calc(0% + 5vh) 25%, 0% 20%, calc(0% + 5vh) 15%, 0% 10%, calc(0% + 5vh) 5%, 0% 0% 
    );
    background-color: rgb(255, 255, 255);
    top: 0;
    right: -40vw;
    z-index: 98;

}

#nav-shadow {
    position: absolute;
    height: 100%;
    width: 40vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, calc(0% + 5vh) 95%, 0% 90%, calc(0% + 5vh) 85%, 0% 80%, calc(0% + 5vh) 75%, 0% 70%, calc(0% + 5vh) 65%, 0% 60%, calc(0% + 5vh) 55%, 0% 50%, calc(0% + 5vh) 45%, 0% 40%, calc(0% + 5vh) 35%, 0% 30%, calc(0% + 5vh) 25%, 0% 20%, calc(0% + 5vh) 15%, 0% 10%, calc(0% + 5vh) 5%, 0% 0% 
    );
    background-color: rgba(245, 191, 75, 0.815);
    top: 0;
    right: calc(-40vw - 20px);
    z-index: 2;
}

.header {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: 100vh;
}

.logo {
    height: 100px;
    width: 100px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -2;
}


.blurb-header {
    font-family: 'Slabo 27px', serif;
    font-size: 10em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 8px 10px rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
    margin-top: 50px;
    z-index: 1;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 8px 10px rgba(0,0,0,0.8);
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500px;
}

.transform {
    -webkit-transition: all .75s ease;  
    -moz-transition: all .75s ease;  
    -o-transition: all .75s ease;  
    -ms-transition: all .75s ease;  
    transition: all .75s ease;
  }
  
  .transform-active {
    transform: translateX(-20vw);
  }
  .transform-shadow-active {
    transform: translateX(-23vw);
  }

  @media 