body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px auto 100px auto;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgb(255,255,255);
}

.nav {
    background-color: rgba(255, 180, 94, 1);
    height: 125px;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 75% 100%, 50% calc(100% - 15vh), 25% 100%, 0% 100%);
    position: absolute;
    z-index: 3;
}

.head-bg {
  
    position: absolute;
    background-size: cover;
    height: 1000px;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.logo {
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;
    margin-top: 15px;
    background-color: rgb(255,255,255);
    z-index: -1;
}

.logo img {
    max-height: 250px;
}

.head-cont {
    height: 500px;
    width: 100%;
    margin-top: 5px;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    clip-path: polygon(
        0% 0%, 25% 0%, 50% calc(0% + 10vw), 75% 0%, 100% 0%, 100% 100%, 95% calc(100% - 5vw), 90% 100%, 85% calc(100% - 5vw), 80% 100%, 75% calc(100% - 5vw), 70% 100%, 65% calc(100% - 5vw), 60% 100%, 55% calc(100% - 5vw), 50% 100%, 45% calc(100% - 5vw), 40% 100%, 35% calc(100% - 5vw), 30% 100%, 25% calc(100% - 5vw), 20% 100%, 15% calc(100% - 5vw), 10% 100%, 5% calc(100% - 5vw), 0% 100%
    );
    background-color: rgba(0,0,0,0.8);
    background-size: cover;
    text-align: center;
    align-items: center;
    color: white;
    text-align: center;
}



.head-shadow {
    height: 520px;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    background: rgba(255, 180, 94, 0.8);
    clip-path: polygon(
        0% 0%, 25% 0%, 50% calc(0% + 10vw), 75% 0%, 100% 0%, 100% 100%, 95% calc(100% - 5vw), 90% 100%, 85% calc(100% - 5vw), 80% 100%, 75% calc(100% - 5vw), 70% 100%, 65% calc(100% - 5vw), 60% 100%, 55% calc(100% - 5vw), 50% 100%, 45% calc(100% - 5vw), 40% 100%, 35% calc(100% - 5vw), 30% 100%, 25% calc(100% - 5vw), 20% 100%, 15% calc(100% - 5vw), 10% 100%, 5% calc(100% - 5vw), 0% 100%
    );
    z-index: -1;
    content: "";
}

.head-shadow:after {

}

.head-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.head-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(images/9.jpg);
}

.blurb {
    color: white;
    z-index: 1;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
}

.blurb-header {
    font-family: 'Slabo 27px', serif;
    font-size: 10em;
    text-shadow: 2px 8px 10px rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
    margin-top: 50px;
    z-index: 1;
    grid-row: 2 / 2;
    grid-column: span 3;
}

@media (max-width: 700px) {
    .blurb-header {
        font-size: 4em;
    }
  }

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    grid-row: 3 / 3;
    grid-column: span 3;
    z-index: 1;
}
.divider {
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;
}


.menu-cont {
    height: 500px;
    width: 100%;
    grid-column: 1 / -1;
    clip-path: polygon(
        0% 0%, 10% 10%, 20% 0%, 30% 10%, 40% 0%, 50% 10%, 60% 0%, 70% 10%, 80% 0%, calc(100% - 5vw) 10%, 100% 0%, 100% 100%, calc(100% - 5vw) calc(100% - 5vw), 80% 100%, 70% calc(100% - 5vw), 60% 100%, 50% calc(100% - 5vw), 40% 100%, 30% calc(100% - 5vw), 20% 100%, 10% calc(100% - 5vw), 0% 100%
    );
    background-color: blue;
}
